beautifulsoup4>=4.9.3
bs4>=0.0.1
lxml>=4.6.2
matplotlib>=3.3.3
mplfinance>=0.12.7a4
Pillow>=8.1.0
python-dateutil>=2.8.1
pytz>=2020.5
requests>=2.25.1
six>=1.15.0
soupsieve>=2.1
urllib3>=1.26.2
numpy>=1.19.4
pandas>=1.2.0
pyyaml>=5.3.1
pandasql>=0.7.3
filelock>=3.0.12
arm-mango>=1.0.0
scipy>=1.5.4
TA-lib>=0.4.19
jq>=1.1.2
tqdm>=4.56.0
websocket>=0.2.1
